
@{
    ViewBag.Title = "SignIn";
   
}

<h2>SignIn</h2>


<script>
    var homepage = '@ViewData["homepage"].ToString()';
    window.setTimeout(function () {
        window.location.href = homepage;
    },2000);
</script>